{% if items|length > 0 %}
  <div class="flyntComponent" is="flynt-block-content-home">
    <div class="container">
      {% if title %}
      <div class="preContent">
        <p>{{ title|e }}</p>
      </div>
      {% endif %}
      <ul class="grid">
        {% for item in items %}
          <li class="grid-item">
            <a class="grid-item-image" title="{{ item.title }}" href="{{ item.link }}" aria-hidden="true" tabindex="-1">
              {% if item.thumbnail %}
              <div class="featuredImage">
                {{ renderComponent('BlockImage', { image: item.thumbnail, noComponentSpacing: true }) }}
              </div>
              {% endif %}
              <div class="grid-item-content">
                <div class="title">
                  {{ item.title }}
                  <p class="subtitle">{{ item.director }}</p>
                </div>
                <div class="bottom">
                  <div class="synopsis">
                    {{ item.synopsisEnglish }}
                  </div>
                  <div class="subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                      <g id="noun_clock_4075032" transform="translate(-8.29 3.505)">
                        <path id="Path_140" data-name="Path 140" d="M18.29,28.29a10,10,0,1,1,10-10A10.012,10.012,0,0,1,18.29,28.29Zm0-19.038a9.038,9.038,0,1,0,9.038,9.038A9.047,9.047,0,0,0,18.29,9.252Z" transform="translate(0 -11.795)"/>
                        <path id="Path_141" data-name="Path 141" d="M50.925,30.97a.627.627,0,0,1-.488-.213l-2.07-2.608a1.7,1.7,0,0,1-.3-.629A2.131,2.131,0,0,1,48,27V21.429a.594.594,0,0,1,1.156,0V27a1.619,1.619,0,0,0,.04.353.9.9,0,0,0,.156.321l2.058,2.595a.407.407,0,0,1-.182.633A.691.691,0,0,1,50.925,30.97Z" transform="translate(-30.801 -19.475)"/>
                      </g>
                    </svg>
                    <div>{{ item.movieDuration }}</div>
                  </div>
                  <div class="subtitle">
                    <svg id="noun_website_3835315" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                      <g id="Group_12" data-name="Group 12">
                        <path id="Path_129" data-name="Path 129" d="M20,10A10,10,0,1,1,10,0,10,10,0,0,1,20,10ZM.888,9.562H4.342a16.744,16.744,0,0,1,.517-3.786A11.457,11.457,0,0,1,2.717,4.507,9.078,9.078,0,0,0,.888,9.562Zm4.331,0H9.562V6.867a12.491,12.491,0,0,1-3.885-.756,15.935,15.935,0,0,0-.457,3.451Zm5.22,0h4.342a15.973,15.973,0,0,0-.457-3.451,12.5,12.5,0,0,1-3.885.756V9.562Zm5.219,0h3.454a9.074,9.074,0,0,0-1.829-5.054,11.457,11.457,0,0,1-2.142,1.268,16.709,16.709,0,0,1,.517,3.786Zm3.454.877H15.658a16.749,16.749,0,0,1-.516,3.786,11.439,11.439,0,0,1,2.141,1.268A9.074,9.074,0,0,0,19.112,10.439Zm-4.331,0H10.439v2.695a12.487,12.487,0,0,1,3.885.755,15.967,15.967,0,0,0,.457-3.45Zm-5.22,0H5.219a15.931,15.931,0,0,0,.464,3.478,12.283,12.283,0,0,1,3.879-.783V10.439Zm-5.22,0H.888A9.076,9.076,0,0,0,2.721,15.5a13.048,13.048,0,0,1,2.146-1.242A16.7,16.7,0,0,1,4.342,10.439Zm12.382,5.726a10.557,10.557,0,0,0-1.831-1.093,9.342,9.342,0,0,1-2.045,3.6A9.131,9.131,0,0,0,16.724,16.165Zm-2.641-1.433a11.634,11.634,0,0,0-3.644-.72v5.072c1.891-.339,3.1-2.662,3.644-4.351Zm-4.521-.72a11.431,11.431,0,0,0-3.635.748c.548,1.681,1.752,3.986,3.635,4.324V14.012ZM5.118,15.1a12.238,12.238,0,0,0-1.835,1.068,9.129,9.129,0,0,0,3.87,2.5A9.319,9.319,0,0,1,5.118,15.1ZM3.277,3.835A10.548,10.548,0,0,0,5.108,4.929a9.338,9.338,0,0,1,2.045-3.6,9.134,9.134,0,0,0-3.876,2.5Zm2.64,1.434a11.63,11.63,0,0,0,3.644.72V.917C7.67,1.257,6.463,3.58,5.917,5.269Zm4.522.72a11.623,11.623,0,0,0,3.644-.72C13.537,3.58,12.33,1.257,10.439.917Zm4.453-1.06a10.571,10.571,0,0,0,1.831-1.094,9.136,9.136,0,0,0-3.877-2.5A9.339,9.339,0,0,1,14.892,4.929Z"/>
                      </g>
                    </svg>
                    <div>{{ item.region }}</div>
                  </div>
                  <div class="subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="69.98" viewBox="0 0 70 69.98">
                      <g id="calendar" transform="translate(-2 -2.02)">
                        <path id="Path_153" data-name="Path 153" d="M69,72H5a3,3,0,0,1-3-3V24.67a1,1,0,0,1,1-1H71a1,1,0,0,1,1,1V69A3,3,0,0,1,69,72ZM4,25.67V69a1,1,0,0,0,1,1H69a1,1,0,0,0,1-1V25.67Z"/>
                        <path id="Path_154" data-name="Path 154" d="M3,25.67a1,1,0,0,1-1-1V12A3,3,0,0,1,5,9H15.42a1,1,0,1,1,0,2H5a1,1,0,0,0-1,1V24.67A1,1,0,0,1,3,25.67Z"/>
                        <path id="Path_155" data-name="Path 155" d="M71,25.67a1,1,0,0,1-1-1V12a1,1,0,0,0-1-1H58.58a1,1,0,0,1,0-2H69a3,3,0,0,1,3,3V24.67A1,1,0,0,1,71,25.67Z"/>
                        <path id="Path_156" data-name="Path 156" d="M51.42,11H22.58a1,1,0,0,1,0-2H51.42a1,1,0,0,1,0,2Z"/>
                        <path id="Path_157" data-name="Path 157" d="M3,25.67a1,1,0,0,1-1-1V12A3,3,0,0,1,5,9H15.42a1,1,0,1,1,0,2H5a1,1,0,0,0-1,1V24.67A1,1,0,0,1,3,25.67Z"/>
                        <path id="Path_158" data-name="Path 158" d="M71,25.67a1,1,0,0,1-1-1V12a1,1,0,0,0-1-1H58.58a1,1,0,0,1,0-2H69a3,3,0,0,1,3,3V24.67A1,1,0,0,1,71,25.67Z"/>
                        <path id="Path_159" data-name="Path 159" d="M51.42,11H22.58a1,1,0,0,1,0-2H51.42a1,1,0,0,1,0,2Z"/>
                        <path id="Path_160" data-name="Path 160" d="M55,18a4.59,4.59,0,0,1-4.58-4.58V6.6a4.58,4.58,0,0,1,9.16,0v6.81A4.59,4.59,0,0,1,55,18ZM55,4a2.58,2.58,0,0,0-2.58,2.6v6.81a2.58,2.58,0,1,0,5.16,0V6.6A2.58,2.58,0,0,0,55,4Z"/>
                        <path id="Path_161" data-name="Path 161" d="M19,18a4.59,4.59,0,0,1-4.58-4.58V6.6a4.58,4.58,0,1,1,9.16,0v6.81A4.59,4.59,0,0,1,19,18ZM19,4a2.58,2.58,0,0,0-2.58,2.6v6.81a2.58,2.58,0,1,0,5.16,0V6.6A2.58,2.58,0,0,0,19,4Z"/>
                        <path id="Path_162" data-name="Path 162" d="M61.25,39.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,61.25,39.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_163" data-name="Path 163" d="M46.75,39.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,46.75,39.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_164" data-name="Path 164" d="M32.25,39.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,32.25,39.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_165" data-name="Path 165" d="M61.25,51.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,61.25,51.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_166" data-name="Path 166" d="M46.75,51.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,46.75,51.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_167" data-name="Path 167" d="M32.25,51.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,32.25,51.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_168" data-name="Path 168" d="M17.75,51.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,17.75,51.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_169" data-name="Path 169" d="M46.75,63.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,46.75,63.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_170" data-name="Path 170" d="M32.25,63.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,32.25,63.83Zm-5-6v4h5v-4Z"/>
                        <path id="Path_171" data-name="Path 171" d="M17.75,63.83h-5a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h5a2,2,0,0,1,2,2v4A2,2,0,0,1,17.75,63.83Zm-5-6v4h5v-4Z"/>
                      </g>
                    </svg>
                    <div>{{ item.releaseDate }}</div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
