{% if posts|length > 0 %}
  <ul class="searchList">
    {% for post in posts  %}
      <li class="searchList-item">
      <a href="{{ post.link }}">
        <article class="post">
          <div class="post-title title">{{ post.title }}</div>
          <div class="post-title">{{ post.releaseDate }}</div>
          <div class="post-title">{{ post.director }}</div>
          <div class="post-title">{{ post.languageMovie }}</div>
          <div class="post-title">{{ post.movieDuration }}</div>
        </article>
      </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="noResults boxPadding">
    <p>{{ labels.noResults }}</p>
  </div>
{% endif %}
