<div class="flyntComponent" is="flynt-block-movie-footer">
  <div class="container container--fullWidth">
    <div class="content">
      <div class="content-left">
        {% if post.title %}<p class="title">{{ post.title }}</p>{% endif %}
        {% if post.director %}<p>{{ post.director }}</p>{% endif %}
        {% if post.languageMovie or post.languageSubtitles %}
        <div class="languages">
          <div>
            <svg id="noun_website_3835315" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <g id="Group_12" data-name="Group 12">
                <path id="Path_129" data-name="Path 129" d="M20,10A10,10,0,1,1,10,0,10,10,0,0,1,20,10ZM.888,9.562H4.342a16.744,16.744,0,0,1,.517-3.786A11.457,11.457,0,0,1,2.717,4.507,9.078,9.078,0,0,0,.888,9.562Zm4.331,0H9.562V6.867a12.491,12.491,0,0,1-3.885-.756,15.935,15.935,0,0,0-.457,3.451Zm5.22,0h4.342a15.973,15.973,0,0,0-.457-3.451,12.5,12.5,0,0,1-3.885.756V9.562Zm5.219,0h3.454a9.074,9.074,0,0,0-1.829-5.054,11.457,11.457,0,0,1-2.142,1.268,16.709,16.709,0,0,1,.517,3.786Zm3.454.877H15.658a16.749,16.749,0,0,1-.516,3.786,11.439,11.439,0,0,1,2.141,1.268A9.074,9.074,0,0,0,19.112,10.439Zm-4.331,0H10.439v2.695a12.487,12.487,0,0,1,3.885.755,15.967,15.967,0,0,0,.457-3.45Zm-5.22,0H5.219a15.931,15.931,0,0,0,.464,3.478,12.283,12.283,0,0,1,3.879-.783V10.439Zm-5.22,0H.888A9.076,9.076,0,0,0,2.721,15.5a13.048,13.048,0,0,1,2.146-1.242A16.7,16.7,0,0,1,4.342,10.439Zm12.382,5.726a10.557,10.557,0,0,0-1.831-1.093,9.342,9.342,0,0,1-2.045,3.6A9.131,9.131,0,0,0,16.724,16.165Zm-2.641-1.433a11.634,11.634,0,0,0-3.644-.72v5.072c1.891-.339,3.1-2.662,3.644-4.351Zm-4.521-.72a11.431,11.431,0,0,0-3.635.748c.548,1.681,1.752,3.986,3.635,4.324V14.012ZM5.118,15.1a12.238,12.238,0,0,0-1.835,1.068,9.129,9.129,0,0,0,3.87,2.5A9.319,9.319,0,0,1,5.118,15.1ZM3.277,3.835A10.548,10.548,0,0,0,5.108,4.929a9.338,9.338,0,0,1,2.045-3.6,9.134,9.134,0,0,0-3.876,2.5Zm2.64,1.434a11.63,11.63,0,0,0,3.644.72V.917C7.67,1.257,6.463,3.58,5.917,5.269Zm4.522.72a11.623,11.623,0,0,0,3.644-.72C13.537,3.58,12.33,1.257,10.439.917Zm4.453-1.06a10.571,10.571,0,0,0,1.831-1.094,9.136,9.136,0,0,0-3.877-2.5A9.339,9.339,0,0,1,14.892,4.929Z"/>
              </g>
            </svg>
            <p>{{ post.languageMovie }}</p>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <g id="Group_31" data-name="Group 31" transform="translate(-588 -30)">
                <g id="noun_creative_commons_70967" data-name="noun_creative commons_70967" transform="translate(613 1)">
                  <path id="Path_144" data-name="Path 144" d="M18,28A10.134,10.134,0,0,0,28,18,10.134,10.134,0,0,0,18,8,10.134,10.134,0,0,0,8,18,10.134,10.134,0,0,0,18,28ZM18,8.952A9.169,9.169,0,0,1,27.048,18,9.169,9.169,0,0,1,18,27.048,9.169,9.169,0,0,1,8.952,18,9.169,9.169,0,0,1,18,8.952Z" transform="translate(-33 21)"/>
                </g>
                <text id="cc" transform="translate(592 43)" font-size="12" font-family="Avenir-Medium, Avenir" font-weight="500"><tspan x="0" y="0">cc</tspan></text>
              </g>
            </svg>
            <p>{{ post.languageSubtitles }}</p>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="content-right">
        {% if post.region %}
        <p>{{ post.region }}</p>
        {% endif %}
        {% if post.movieDuration %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <g id="noun_clock_4075032" transform="translate(-8.29 3.505)">
              <path id="Path_140" data-name="Path 140" d="M18.29,28.29a10,10,0,1,1,10-10A10.012,10.012,0,0,1,18.29,28.29Zm0-19.038a9.038,9.038,0,1,0,9.038,9.038A9.047,9.047,0,0,0,18.29,9.252Z" transform="translate(0 -11.795)"/>
              <path id="Path_141" data-name="Path 141" d="M50.925,30.97a.627.627,0,0,1-.488-.213l-2.07-2.608a1.7,1.7,0,0,1-.3-.629A2.131,2.131,0,0,1,48,27V21.429a.594.594,0,0,1,1.156,0V27a1.619,1.619,0,0,0,.04.353.9.9,0,0,0,.156.321l2.058,2.595a.407.407,0,0,1-.182.633A.691.691,0,0,1,50.925,30.97Z" transform="translate(-30.801 -19.475)"/>
            </g>
          </svg>
          <p>{{ post.movieDuration }}</p>
        </div>
        {% endif %}
        {% if post.releaseDate %}
        <p>{{ post.releaseDate }}</p>
        {% endif %}
      </div>
      {% if post.synopsisEnglish or post.synopsisArabic %}
      <div class="synopsis">
        <div>{{ post.synopsisEnglish }}</div>
        <div>{{ post.synopsisArabic }}</div>
      </div>
      {% endif %}
      {% if post.cast %}
      <div class="cast">
        <h3>Cast</h3>
        {{ post.cast }}
      </div>
      {% endif %}
      {% if post.shareLinkFacebook or post.shareLinkInstagram or post.shareLinkTwitter %}
        <div class="sharelinks">
        <h3>Share</h3>
        <div class="shareLinks-content">
          <a href="{{ post.shareLinkFacebook }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.588" height="20" viewBox="0 0 9.588 20">
              <path id="facebook" d="M6.268,6.632H9.333L8.961,10h-2.7V20H1.75V10.012H0V6.632H1.746v-.12c0-.807-.008-1.614.012-2.421a4.979,4.979,0,0,1,.527-2.253A3.18,3.18,0,0,1,4.163.292,5.245,5.245,0,0,1,5.725.016C7,.008,8.27.008,9.541,0l.048,0V3.36H9.477c-.639,0-1.282,0-1.926,0a2.2,2.2,0,0,0-.7.1.751.751,0,0,0-.543.667,5.486,5.486,0,0,0-.04.679V6.632" fill-rule="evenodd"/>
            </svg>
          </a>
          <a href="{{ post.shareLinkInstagram }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="19.5" viewBox="0 0 19.5 19.5">
              <g id="Group_40" data-name="Group 40" transform="translate(-46.004 -182.5)">
                <path id="Path_150" data-name="Path 150" d="M19.5,11.507c2.6,0,2.912.01,3.94.057a5.394,5.394,0,0,1,1.81.336,3.229,3.229,0,0,1,1.85,1.85,5.4,5.4,0,0,1,.336,1.81c.047,1.028.057,1.337.057,3.94s-.01,2.912-.057,3.94a5.4,5.4,0,0,1-.336,1.81,3.228,3.228,0,0,1-1.85,1.85,5.394,5.394,0,0,1-1.81.336c-1.028.047-1.336.057-3.94.057s-2.912-.01-3.94-.057A5.394,5.394,0,0,1,13.75,27.1a3.229,3.229,0,0,1-1.85-1.85,5.4,5.4,0,0,1-.336-1.81c-.047-1.028-.057-1.337-.057-3.94s.01-2.912.057-3.94a5.4,5.4,0,0,1,.336-1.81,3.23,3.23,0,0,1,1.85-1.85,5.394,5.394,0,0,1,1.811-.336C16.588,11.517,16.9,11.507,19.5,11.507Zm0-1.757c-2.648,0-2.98.011-4.02.059a7.157,7.157,0,0,0-2.367.453,4.985,4.985,0,0,0-2.852,2.852,7.153,7.153,0,0,0-.453,2.367c-.047,1.04-.059,1.372-.059,4.02s.011,2.98.059,4.02a7.154,7.154,0,0,0,.453,2.367,4.985,4.985,0,0,0,2.852,2.851,7.158,7.158,0,0,0,2.367.453c1.04.047,1.372.059,4.02.059s2.98-.011,4.02-.059a7.158,7.158,0,0,0,2.367-.453,4.986,4.986,0,0,0,2.852-2.851,7.156,7.156,0,0,0,.453-2.367c.048-1.04.059-1.372.059-4.02s-.011-2.98-.059-4.02a7.155,7.155,0,0,0-.453-2.367,4.985,4.985,0,0,0-2.852-2.852,7.157,7.157,0,0,0-2.367-.453C22.48,9.761,22.148,9.75,19.5,9.75Z" transform="translate(36.254 172.75)"/>
                <path id="Path_151" data-name="Path 151" d="M19.5,14.5A5.007,5.007,0,1,0,24.511,19.5,5.007,5.007,0,0,0,19.5,14.5Zm0,8.257a3.25,3.25,0,1,1,3.25-3.25A3.25,3.25,0,0,1,19.5,22.754Z" transform="translate(36.254 172.75)"/>
                <path id="Path_152" data-name="Path 152" d="M25.879,14.3a1.17,1.17,0,1,1-1.17-1.17A1.17,1.17,0,0,1,25.879,14.3Z" transform="translate(36.254 172.75)"/>
              </g>
            </svg>
          </a>
          <a href="{{ post.shareLinkTwitter }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.61" height="20" viewBox="0 0 24.61 20">
              <path id="twitter" d="M24.61,4.616a10.081,10.081,0,0,1-2.9.795,5.057,5.057,0,0,0,2.22-2.793,10.114,10.114,0,0,1-3.207,1.225,5.052,5.052,0,0,0-8.6,4.6A14.334,14.334,0,0,1,1.713,3.172,5.056,5.056,0,0,0,3.275,9.913,5.028,5.028,0,0,1,.99,9.281,5.053,5.053,0,0,0,5.039,14.3a5.061,5.061,0,0,1-2.281.086,5.053,5.053,0,0,0,4.717,3.506A10.152,10.152,0,0,1,0,19.98a14.294,14.294,0,0,0,7.74,2.268A14.279,14.279,0,0,0,22.091,7.23,10.28,10.28,0,0,0,24.61,4.616Z" transform="translate(0 -2.248)"/>
            </svg>
          </a>
        </div>
      </div>
      {% endif %}
      </ul>
    </div>
  </div>
  {# {% if post.thumbnail %}
    <div class="featuredImage">
      {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeLarge' }, noComponentSpacing: true }) }}
    </div>
  {% endif %} #}
</div>
